/* ---- Font import ---- */

@font-face {
  font-family: 'Garamond';
  src: url('../assets/font/Garamond.eot');
  src: url('../assets/font/Garamond.eot?#iefix') format('embedded-opentype'), 
       url('../assets/font/Garamond.woff') format('woff'), 
       url('../assets/font/Garamond.ttf')  format('truetype'), 
       url('../assets/font/Garamond.svg#Garamond') format('svg');
}

/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
  /*border: 1px solid tomato;*/ /*debugging borders*/ 
}

body {
  font-family: Garamond, Georgia, serif;
  font-size: 16px;
  color: #303030;
  background-color: #012f5a;
}

header,
footer {
  background: #111213;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #2c83b0;
}

a:hover {
  text-decoration: underline;
  color: tomato;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}

p {
  font-family: Georgia;
  font-size: 0.8125em;
  line-height: 20px;
}

h2 {
  font-size: 1.6em;
}

q {
  color: #a3a3a3;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Container ---- */

.container {
  max-width: 960px;
  margin: 0 auto;
  min-height: 100vh;  /*100% of the viewport heigh given to this flex container. to make sticky footer*/
  -webkit-box-shadow: 0px 0px 249px 41px rgba(125,177,204,1);
  -moz-box-shadow: 0px 0px 249px 41px rgba(125,177,204,1);
  box-shadow: 0px 0px 249px 41px rgba(125,177,204,1);
}

/* ---- Header ---- */

.header-content {
  padding: 0 20px 24px 30px;
}

/* ---- Navigation ---- */

.main-nav ul {
  background-color: #111213;
  margin: 0;  /*removing browser margin*/
}

.main-nav a {
  display: inline-block;
  padding: 8px;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
  color: #fff;
}

.main-nav a:hover {
  color: #2c83b0;
  background-color: #fff;
}

/* ---- Search ---- */

.search {
  margin: 18px 0 24px 0; 
}

.search input[type="text"] {
  background-image: url("../img/search-icon.png");
  background-repeat: no-repeat;
  background-size: 17px 15px;
  background-position: 6px 2px;
  border: 1px solid #d1d1d1;
  color: #8a8a8a;
  width: 125px;
  height: 20px;
  padding: 0 15px 0 35px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  font-size: 0.625rem;
}

/* ---- Slider ---- */

.slider {
  max-width: 960px;
  margin: 0 auto;
  display: table;
  clear: both;
  position: relative;
  background-color: #012f5a;
}

.slider div {
  width: 100%;
  float: left;
  position: relative;
}

.slider div.slider-indicator {
  position: absolute;
}

.slider div img {
  width: 100%;
  float: left;
  display: block;
}

.slider-indicator {
  height: 20px;
  text-align: left;
  float: left;
  z-index: 999;
  top:90%;
  padding: 0 20px;
}

.slider-indicator span {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 5px;
  border-radius: 50%;
  background-color: #2c83b0;
  transition:background 0.3s ease-out;
}

.slider-indicator span:hover {
  background-color: #a3a3a3;
  cursor: pointer;
}

.slider-indicator span.active {
  background-color: #a3a3a3;
}

/* ---- Black bar ---- */

.black-bar{
  padding: 0 20px 0 30px;
  background-color: #111213;
}

/* ---- Quotes ---- */

.quote {
  font-family: Garamond;
  font-size: 1.875rem;
  line-height: 36px;
  margin-right: 55px;
}

/* ---- Social Media---- */

.social-media li {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: url("../img/social-icons.png") no-repeat;
}

li.twitter {
  background-position: 0 0;
}

li.facebook {
  background-position: -53px 0;
}

li.rss {
  background-position: -107px 0;
}

li.fire {
  background-position: -162px 0;
}

li.email {
  background-position: -216px 0;
}

.social-media li a {
  width: 50px;
  height: 50px;
  margin: 0 3px;
  float: left;
}

/* --- Content --- */

.main-content {
  background-color: #fff;
  flex-grow: 1; /*this item of main flex .container strech so that push the rest of items down, and make page consistent at any height.*/
}

/* ---- Blog ---- */

.blog {
  padding-left: 30px;
  margin-right: 52px;
}

.blog > article {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, #fff ,#c0c0c0 ,#fff);
  border-image-slice: 1;
}

.post-body {
  flex-basis: 73%;
  padding-left: 30px;
}

.post-body > h2 {
  margin-bottom: 0;
}

.date {
  font-size: 0.625em;
  margin: 0;
  padding-top: 3px;
}

.post-image {
  flex-basis: 27%;
  height: 150px;
  border: 5px solid #e9e9e9;
}

.post-image img {
  height: 100%; 
  width: 100%;
  background-size: contain;
}

.button {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5aa7ce), color-stop(1, #4783a1));
  background:-moz-linear-gradient(top, #5aa7ce 5%, #4783a1 100%);
  background:-webkit-linear-gradient(top, #5aa7ce 5%, #4783a1 100%);
  background:-o-linear-gradient(top, #5aa7ce 5%, #4783a1 100%);
  background:-ms-linear-gradient(top, #5aa7ce 5%, #4783a1 100%);
  background:linear-gradient(to bottom, #5aa7ce 5%, #4783a1 100%);
  background-color:#5aa7ce;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Georgia;
  font-size:11px;
  padding:10px 45px;
  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
}
.button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4783a1), color-stop(1, #5aa7ce));
  background:-moz-linear-gradient(top, #4783a1 5%, #5aa7ce 100%);
  background:-webkit-linear-gradient(top, #4783a1 5%, #5aa7ce 100%);
  background:-o-linear-gradient(top, #4783a1 5%, #5aa7ce 100%);
  background:-ms-linear-gradient(top, #4783a1 5%, #5aa7ce 100%);
  background:linear-gradient(to bottom, #4783a1 5%, #5aa7ce 100%);
  background-color:#4783a1;
}
.button:active {
  position:relative;
  top:1px;
}

/* ---- Pagination ---- */

.pagination li {
  display: inline-block;
  background-color: #eeeeee;
}

.pagination li a,
.pagination li.counter {
  color: #666;
  font-size: .8rem;
  padding: 4px 10px;
  float: left;
  transition: background-color .5s;
  margin: 0 2px;
}

.pagination li a.active {
  background-color: #c1c1c1;
  color: white;
  text-decoration: none;
}

.pagination li a:hover {
  background-color: tomato;
  color: white;
  text-decoration: none;
}

/* ---- Sidebar ---- */

.sidebar {
  background:-moz-linear-gradient(180deg, #d5d5d5, #fff);
  background:-webkit-linear-gradient(180deg, #d5d5d5, #fff);
  background:-o-linear-gradient(180deg, #d5d5d5, #fff);
  background:-ms-linear-gradient(180deg, #d5d5d5, #fff);
  background: linear-gradient(180deg, #d5d5d5, #fff);
}

.sidebar > div {
  padding: 0 20px 0 30px;
}

/* ---- Sponsors ---- */

.sponsors {
  padding: 0 20px 0 30px;
  background-color: #fff;
}

.sponsors-content {
  padding-bottom: 34px;
}

.sponsors-content > h2 {
  width: 100%;
}

.sponsors-content > div {
  margin: 5px;
  height: 86px;
  border: 5px solid #e9e9e9;
}

/* ---- Footer ---- */

.footer-content {
  padding: 0 20px 34px 30px;
}

footer h2 {
  color: #fff;
}

footer p,
.contact-details li {
  color: #6f6e6e;
}

.flickr div {
  width: 75px;
  height: 75px;
  margin: 4px;
}

.flickr h2 {
  width: 100%;
}

/* ================================= 
  Flexbox Layout Styles
==================================== */

/* ---- Flex container ---- */

.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
} 

.space-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.space-between {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.align-items-start {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.align-items-end {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.align-items-center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* ---- Flex item ---- */

.align-self-start {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.align-self-end {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.align-self-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

/* ================================= 
 Custom Flexbox Layout Styles
==================================== */

/* ---- Quotes ---- */

.quote {
  flex-basis: 575px;
}

/* ---- Social Media---- */

.social-media {
  flex-basis: 266px;
}

/* ---- Footer---- */

footer section:nth-child(1) {
  flex: 1 281px;
  margin-right: 45px;
}

footer section:nth-child(2) {
  flex: 1 260px;
  margin-right: 45px;
}

footer section:nth-child(3) {
  flex: 1 266px;
}

/* ---- Sponsors---- */

.sponsors-content div {
  flex: 1 15.5%;
}

/* ---- Blog ---- */

.blog {
  flex: 3 650px;
}

/* ---- Sidebar ---- */

.sidebar {
  flex: 1 245px;
}

/* ================================= 
 Media Queries
==================================== */

@media screen and (max-width: 965px) {

  /* ---- Search ---- */

  .search {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 12px; 
  }

  .search input[type="text"] {
    width: 260px;
    height: 20px;
  }

  /* ---- Quotes ---- */

  .quote {
    margin-right: 0;
    flex-basis: 640px;
  }

  /* ---- Footer ---- */

  footer section.flickr {
    order: 3;
  }

  footer > section{
    flex-basis: 350px;
  }

  /* ---- Sponsors---- */

  .sponsors-content > div {
    flex: 1 20.5%;
  }

  /* ---- Pagination---- */

  .pagination {
    align-self: center;
  }

  /* ---- Sidebar---- */

  .sidebar {
    margin: 20px 0;
    background:-moz-linear-gradient(bottom right, #e7e7e7, #e7e7e7);
    background:-webkit-linear-gradient(bottom right, #e7e7e7, #e7e7e7);
    background:-o-linear-gradient(bottom right, #e7e7e7, #e7e7e7);
    background:-ms-linear-gradient(bottom right, #e7e7e7, #e7e7e7);
    background: linear-gradient(to bottom right, #e7e7e7, #e7e7e7); 
  }

  /* ---- Slider ---- */

  .slider-indicator {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {

  /* ---- Footer ---- */

  footer section:nth-child(n) {
    flex-basis: 100%;
    margin-right: 0;
  }

  /* ---- Sponsors---- */

  .sponsors-content > div {
    flex: 1 30.5%;
  }

  /* ---- Blog ---- */

  .post-body {
    flex-basis: 100%;
    padding-left: 0;
  }

  .post-image {
    flex-basis: auto;
  }

  .post-image:nth-child(1) {
    margin-top: 30px;
  }

  /* ---- Sidebar---- */

  .sidebar > div:nth-child(n) {
    flex-basis: 100%;
  }
}